// main styles

html, body, #root {
  height: 100%;
  width: 100%;
  display: flex;
}

div {
  display: flex;
  flex-direction: column;
}

$backgroundColor: #222831;
$backgroundSecondaryColor: #393e46;

$headerTextColor: #4C8E4C;
$primaryTextColor: #d0d0d0;

h1, h2, h3, h4 {
  color: $headerTextColor
}

p, th {
  color: $primaryTextColor
}


.App {
  text-align: center;
  flex: 1;
  height: 100%;
  background-color: $backgroundColor;
}


.main {
  height: 100%;
  width: 100%;
  background-color: $backgroundSecondaryColor;
}

.header {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.addNew {
  border-radius: 50px;
  background-color: $primaryTextColor;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 80px;
  left: 80px
}